# Compiled object files
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.a
*.lib
*.dll
*.so
*.dylib

# Compiled Static libraries
*.lai

# Compiled Dynamic libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Python
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.pyc

# VS Code
.vscode/
.history/
*.code-workspace

# Other
*.DS_Store
*.directory
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
*.log