exclude: '.*\/build\/.*|.*\/gecko_sdk.*/.*|.*\/autogen\/.*|.*simplicity.*/.*|.*\/config\/.*|.*\.slcp|.*\.slps|.*\.mak'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [-w, --config, /action/tools/.codespell/.codespellrc]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: uncrustify
        args:
          [
            -c,
            /action/tools/uncrustify/uncrustify.cfg,
            -lC,
            --no-backup,
            --replace,
          ]
      - id: clang-tidy
        args:
          - --config-file=/action/tools/.clang-tidy
          - --use-color
          - --extra-arg=-I/inc
          - --header-filter:'^((?!test).)*$'
          - -p=./build
